@model IEnumerable<ModelDogrulama_ModelValidation.Models.Ogrenci>

@{
    ViewData["Title"] = "Liste";
}

<h1>Liste</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinsiyet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinsiyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
